ceres:
  downsample:
    granularities:
      - width: 1m
        ttl: 6h
        partitionWidth: 5m
      - width: 5m
        ttl: 6h
        partitionWidth: 5m
      - width: 15m
        ttl: 6h
        partitionWidth: 15m
    partitions: 4
    initial-processing-delay: 5s
    max-downsample-job-duration: 5m
    max-downsample-delayed-job-duration: 5m
    max-concurrent-downsample-hashes: 1
    processing-threads: 5
    downsample-spread-period: 2s
    downsample-delayed-spread-period: 10s
    downsample-hash-cache-size: 10000
  tag-filter: truncate
  tag-value-limit: 50
  excluded-tag-keys: ["ip_address"]
  ingest-start-time: 7d
  ingest-end-time: 1d
  raw-ttl: 1d
spring:
  data:
    cassandra:
      local-datacenter: datacenter1
      connection:
        connect-timeout: 10s
      request:
        timeout: 10s
management:
  server:
    port: 8081
logging:
  level:
    com.rackspace.ceres.app: debug
  file:
    name: ceres-application.log
