ceres:
  downsample:
    granularities:
      - width: 1m
        ttl: 6h
        partitionWidth: 1m
      - width: 5m
        ttl: 6h
        partitionWidth: 5m
      - width: 15m
        ttl: 6h
        partitionWidth: 15m
    partitions: 4
    initial-processing-delay: 5s
    max-downsample-job-duration: 5m
    max-downsample-delayed-job-duration: 5m
    processing-threads: 5
    downsample-spread-period: 2s
    downsample-delayed-spread-period: 30s
    downsample-hash-cache-size: 10000
  tag-filter: truncate
  tag-value-limit: 50
  excluded-tag-keys: ["ip_address"]
  ingest-start-time: 7d
  ingest-end-time: 1d
  raw-ttl: 1d
  downsampling-hashes-ttl: 3h
  delayed-hashes-ttl: 3h
  downsampling-hashes-cache-ttl: 30s
  downsampling-timeslot-cache-ttl: 30s
  delayed-hashes-cache-ttl: 10s
  delayed-timeslot-cache-ttl: 10s
  downsample-delay-factor: 1.2
  elastic-search-index-name: metrics
  elastic-search-host: localhost
  elastic-search-port: 9200
spring:
  data:
    elasticsearch:
      client:
        reactive:
          endpoints: localhost:9200
    cassandra:
      local-datacenter: datacenter1
      connection:
        connect-timeout: 10s
      request:
        timeout: 10s
management:
  server:
    port: 8081
logging:
  level:
    com.rackspace.ceres.app: debug
    org:
      springframework:
        data:
          elasticsearch:
            client:
              WIRE: trace
  file:
    name: ceres-application.log
