ceres:
  downsample:
    granularities:
      - width: 1m
        ttl: 12h
        partitionWidth: 2h
      - width: 2m
        ttl: 1d
        partitionWidth: 4h
    time-slot-width: 2m
    last-touch-delay: 1m
    downsample-process-period: 10s
    partitions: 4
    partitions-to-process: 0-3
spring:
  data:
    cassandra:
      local-datacenter: datacenter1