spring:
  data:
    cassandra:
      keyspace-name: ceres
      schema-action: create_if_not_exists
  cache:
    # we have redis, but really just want in-memory caching
    type: simple
server:
  error:
    include-message: always
  compression:
    enabled: true
management:
  endpoints:
    web:
      exposure:
        include: info, health, loggers, metrics, prometheus, threaddump
  metrics:
    export:
      influx:
        db: actuator-ceres
        enabled: false
  endpoint:
    health:
      show-components: always
  server:
    port: 8081